<html>
<link rel="stylesheet" type="text/css" href = "style-post.css" />
{% extends 'layout.html' %}
{% block body %}
<div class="container-policy">
<h2> Privacy Policy </h2>
<h3>What's being collected and how:</h3>
<p>By registering with this system, your username, email, password and previously liked Wild Atlantic Way Attractions will be collected. Your password is encrypted and thus, is not at risk of being exposed.</p>
<h3>Why this information is being collected:</h3>
<p>Your username, email and password are collected in order to identify you so you can log in and use the system. Previously liked Wild Atlantic Way attractions are stored so that on your next login, personalised items can be recommended to you.</p>
<h3>How your data will be used:</h3>
<p>The database with this information will not be shared with anyone. Your email is required for registration, but this will not be used to make contact with you. Previously liked Wild Atlantic Way attractions are used in order to recommend places to you when you are planning your next trip.</p>
<h3>How long will your data will be kept:</h3>
<p>Your data will be retained until the 2019/2020 exam correction period is over and so will be deleted at the end of the first week of June 2020. This database is secure and is password protected.</p>
<h3>How secure is the data:</h3>
<p>Your data is stored on a Postgis database which runs on a pgadmin server. This database is password protected and the information will not be shared with anyone.</p>
<h3>Your rights:</h3>
<p>You have the right to access, view and edit your own information in a timely manner. You have the right to be forgotten, which means being deleted from survey results.</p>
<h3>Who to Contact:</h3>
<p>If you have any questions about your data, you can contact karen.jones1@ucdconnect.ie.
</p>


</div>
{% endblock %}
</html>