
<link rel="stylesheet" type="text/css" href = "style.css" />
{% extends 'layout.html' %}
{% block body %}
<head>
    <title>Create User Profile</title>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</head>
<div id="Register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                    <h3 class="text-center text-info">Register</h3>
                    <form class="register-form-textbox" method=post>
                      <dl>
                      <label>Username   </label></br>
                        {{ form['username'] }}</br>
                        <label>Email   </label></br>
                        {{ form['email'] }}</br>
                        <label>Password   </label></br>
                        {{ form['password'] }}
                      </dl>
                      <p><input class="btn" type=submit value=Register>
                    </form>
                    <div class="warning-container">
                    <a class="btn-policy" type="submit" href="/PrivacyPolicy">Privacy Policy</a>
                    </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}